.bed-information
  %h3
    = @bed['name']
  = link_to "Edit Bed Details", edit_bed_path(@bed['id']), :class => "small button"

  %h5 Dimensions:
  %p
    Width:
    = @bed['width']
    %br
    Depth:
    = @bed['depth']
  %h5 Zipcode:
  %p
    = @bed['zipcode']
  %h5 Notes:
  %p{:id => "loaded-notes"}
    = @bed['notes']
  %button{:id => "edit-notes-button", :class => "button small"} Edit Notes
  %textarea{:id => "bed-notes-form"}
  %button{:id => "save-notes-button", :class => "button small"} Save Notes
  %br


