%body
  #body-content
    #bed-grid-panel
      %h2 Viewing Your Bed
      %table
        %tbody
          - @width.times do |i|
            %tr
              - @depth.times do |j|
                %td{:class => "square-foot", :id => "bed-#{i}-#{j}"}
                  // %img{:src => "http://www.placekitten.com/50/50"}
      = render 'beds/bed_view_form'

    #bed-function-panel
      = render :partial => "./welcome/bed_functions"
      = render :partial => "./welcome/bed_content_tabs"

  #taken-spots
    = @taken_spots


