.garden-nav.row.full
  .six.columns
    %h1
      =@bed['name']
  .other-gardens.six.columns
    %ul{:class => "prev-next"}
      %li
        = link_to "Previous", bed_path(@prev['id']), class: "prev"
      %li
        = link_to "Next", bed_path(@next['id']), class: "next"
    %ul{:class => "gardens"}
      %li
        = @prev['name']
      %li
        = @next['name']
.content.row.full

.main-content.eight.columns
  #bed-grid-panel
    %table{:id => "our_table"}
      %tbody
        - @bed['width'].times do |i|
          %tr
            - @bed['depth'].times do |j|
              %td{:class => "square-foot empty", :id => "bed-#{i}-#{j}"}
                %span

.side-content.four.columns
  %div
    = render :partial => "beds/bed_functions"

  #bed-id
    = @bed["id"]

  #taken-spots
    = @taken_spots

  #all-plants
    - @all_plants.each do |plant|
      %ul{:id => plant["name"].parameterize }
        %li
          ="Name: #{plant['name']}"
        %li
          ="Days to Harvest: #{plant['days_to_harvest']}"
        %li
          ="Age to Transplant: #{plant['age_of_transplant']}"
        %li
          ="Warm Season Crop?: #{plant['warm_season']}"
        %li
          ="Germination Temperature: #{plant['germination_temperature']}"
        %li
          ="Days to Germination: #{plant['days_to_germination']}"
        %li
          ="Planting Depth: #{plant['depth']}\""
  - if @weather
    = render 'beds/weather'

#footer.eight.columns
  = render 'layouts/footer'
