.main-content.eight.columns
  #bed-grid-panel
    %table{:id => "our_table"}
      %tbody
        - @width.times do |i|
          %tr
            - @depth.times do |j|
              %td{:class => "square-foot", :id => "bed-#{i}-#{j}"}
    = render 'beds/bed_view_form'

.side-content.four-columns
  %div
    = render :partial => "./welcome/bed_functions"
    = render :partial => "./welcome/bed_content_tabs"

  #bed-id
    = @bed["id"]

  #taken-spots
    = @taken_spots

  #all-plants
    - @all_plants.each do |plant|
      %ul{:id => plant["name"].parameterize }
        %li
          ="Name: #{plant['name']}"
        %li
          ="Days to Harvest: #{plant['days_to_harvest']}"
        %li
          ="Age to Transplant: #{plant['age_of_transplant']}"
        %li
          ="Warm Season Crop?: #{plant['warm_season']}"
        %li
          ="Germination Temperature: #{plant['germination_temperature']}"
        %li
          ="Days to Germination: #{plant['days_to_germination']}"
        %li
          ="Planting Depth: #{plant['depth']}\""
= WeatherService.new.current
