<!DOCTYPE html>
<html>
<head>
  <title>Planting Season - Your Garden</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <header class="main row full">
    <div class="header-logo six columns">
      <h2 class="logo">
        <a href="/dashboard">
          Planting Season
        </a>
      </h2>
    </div>
    <%= render partial: "layouts/navbar" %>
  </header>

  <%= yield %>

  <%= javascript_tag do %>
    window.hostName = '<%= j request.host %>';
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "urlify" %>
  <%= javascript_include_tag "utilities" %>
  <%= javascript_include_tag "welcome" %>
  <%= javascript_include_tag "api_calls" %>
  <%= javascript_include_tag "views" %>
  <%= javascript_include_tag "load_plantings" %>
  <%= javascript_include_tag "routes" %>
  <%= javascript_include_tag "dragging" %>
</body>

</html>


