<!DOCTYPE html>
<html>
<head>
  <title>Planting Season - Your Garden</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
  <% end -%>
  <header class="main row full">
    <div class="header-logo six columns">
      <h2 class="logo">
        <a href="/">
          Planting Season
        </a>
      </h2>
    </div>
    <%= render partial: "layouts/navbar" %>
  </header>
  <div class="garden-nav row full">
    <div class="six columns">
      <h1>My Amazing Garden</h1>
    </div>
    <div class="other-gardens six columns">
      <ul class="prev-next">
        <li><a class="prev" href="#">Previous</a></li>
        <li><a class="next" href="#">Next</a></li>
      </ul>
      <ul class="gardens">
        <li>Lettuce at Parent's House</li>
        <li>Tomatoes at Home</li>
      </ul>
    </div>
  </div>
  <div class="garden-month row full">
    <div class="twelve columns">
      <a class="month-previous" href="#">Previous</a>
      <span class="month-year">
        December 2014
      </span>
      <a class="month-next" href="#">Next</a>
    </div>
  </div>
  <div class="content row full">
    <%= yield %>
  </div>

</body>
</html>


